.grid{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 700px;
}

.grid div{
    height: 100px;
    width: 100px;
    
}

.player-one{
    background-color: red;
    border-radius: 100%;
}

.player-two{
    background-color: blue;
    border-radius: 100%;
}

#botao{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

button{
    font-size: 20px;
    font-family: inherit;
    width: 200px;
    height: 50px;
    border-radius: 10px;
}